<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">Click here to go to Card 1 page.</p>
                        <a href="/upload" class="btn btn-primary">Go to Card 1</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Click here to go to Card 2 page.</p>
                        <a href="/manage" class="btn btn-primary">Go to Card 2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>